$background: #111529;
$lilac: #9BABFF;
$border-color: #2d3873;
$border: solid 1px $border-color;

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "JetBrainsMonoBold";
  src: url("../fonts/JetBrainsMono-Bold.ttf");
}

body {
  background-color: $background;
  margin: 0;
  font-family: JetBrainsMono;
  color: white;
}

h1 {
  font-family: JetBrainsMonoBold;
  font-size: 64px;
}

a {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  ul {
    list-style: none;
    display: inline-block;
    margin: auto;
    width: 100%;
    padding: 0;
    justify-content: center;
    margin-bottom: 8px;
    li {
      margin-right: 16px;
      float: left;
    }

    svg {
      path {
        fill: white;
      }
    }
  }
  p {
    font-size: 12px;
    opacity: .5;
    text-align: center;
    display: inline-block;

    @media (max-width: 768px) {
      text-align: left;
    }
  }
}

nav {
  height: 100px;
  padding-top: 32px;
  position: relative;

  ul {
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 20;
    width: 100%;

    li {
      margin-right: 16px;
      padding: 10px 0;
      float: left;

      span {
        color: #ff3e6b;
      }

      svg {

        path {

          fill: white;
        }
      }
    }
  }
}

button {
  font-size: 14px;
  background-color: white;
  color: $background;
}

.avatar-emblem {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 32px;
  }
}

.banner {
  height: 400px;
  width: 100%;
  padding: 64px 0;
  position: relative;

  .illustration {
    position: absolute;
    bottom: -20px;
    right: 40px;
    z-index: 10;

     img {
       max-width: 500px;
     }
  }

  @media (max-width: 768px) {
    height: 250px;
    padding: 32px 0;

    h1 {
      font-size: 50px;
    }
  }
}

.avatar-container {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 16px;

  img {
    width: 100px;
  }
}

.case-study {

  h3 {
    text-align: center;
  }

  .avatar-container {
    margin: auto;
    margin-bottom: 32px;
  }

  &-copy {
    max-width: 800px;
    margin: auto;
  }

  &-header {
    border-bottom: $border;

    &-copy {
      text-align: center;
    }
  }

  &-image {
    margin: auto;

    p {
      font-size: 12px;
      text-align: center;
      opacity: .6;
    }

    img {
      width: 100%;
      margin-bottom: 8px;
    }
  }

  &-card {
    height: 220px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: black;
    border: solid 2px $background;
    transition: .3s;

    &-copy {
      position: absolute;
      bottom: 24px;
      left: 24px;
      z-index: 20;
    }

    .tag {
      background-color: $lilac;
      font-size: 10px;
      letter-spacing: .1em;
      display: inline-block;
      padding: 2px 6px;
      font-weight: bold;
      margin-right: 8px;
    }

    img {
      max-width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      opacity: .6;
      transform: translateX(-50%) translateY(-50%);

      @media (max-width: 768px) {
        max-width: 600px;
      }
    }

    &:hover {

    }
  }
}

.tools {
  max-width: 700px;
  margin: auto;

  img {
    max-width: 64px;
    margin: 0 8px;
  }
}

.about {

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 8px;
    }
  }
}

pre {
  border: solid 1px #2d3873;
  background: rgb(17, 21, 42);
}

.aspect-ratio {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 51%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
